.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-image: url(assets/background1.jpg);
  }

.todo-form {
  margin: 20px 0;
  
}

.todo-form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-form button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #218838;
}

.todo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.todo-item {
  background-color: #e9ffe9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item h3 {
  margin: 0;
  color: #333;
}

.todo-item p {
  color: #666;
}

.todo-item select {
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:first-of-type {
  background-color: #007bff;
  color: white;
}

.buttons button:first-of-type:hover {
  background-color: #0056b3;
}

.buttons button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.buttons button:last-of-type:hover {
  background-color: #c82333;
}

.filter {
  margin-bottom: 20px;
}

.filter label {
  margin-right: 10px;
}

.filter select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
